<div class="container-fluid">

    <app-page-title title="Profile" ></app-page-title>
  
    <div class="row">
      <div class="col-xl-8">
        <div class="card overflow-hidden">
          <div class="bg-soft bg-primary">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-3">
                  <h5 class="text-primary">Welcome Back !</h5>
                  <p>It will seem like simplified</p>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img src="assets/images/profile-img.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div class="row">
              <div class="col-sm-4">
                <div class="avatar-md profile-user?-wid mb-4">
                    <span class="avatar-title rounded-circle">
                        {{ user?.nom?.charAt(0) ?? '' }}
                    </span>
                      </div>                
                <h5 class="font-size-15 text-truncate">{{user?.nom || 'Nom non disponible'}} {{ user?.prenom || 'Aucun prenom' }} </h5>
                <p class="text-muted mb-0 text-truncate"></p>
              </div>
  
              <div class="col-sm-8">
                <div class="pt-4">
  
                  <div class="row">
                    <div class="col-6">
                      <h5 class="font-size-15">125</h5>
                      <p class="text-muted mb-0">Projects</p>
                    </div>
                    <div class="col-6">
                      <h5 class="font-size-15">$1245</h5>
                      <p class="text-muted mb-0">Revenue</p>
                    </div>
                  </div>
                  <div class="mt-4">
                    <a href="javascript: void(0);" class="btn btn-primary btn-sm">View Profile <i
                        class="mdi mdi-arrow-right ms-1"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end card -->
  
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4">Information personnelle</h4>
  
            <p class="text-muted mb-4">Hi I'm {{ user?.nom || 'Nom non disponible' }} {{ user?.prenom || 'Prénom non disponible' }}, chef service de {{ user?.chefEquipeService?.nom || 'Aucun service' }}.</p>
            <div class="table-responsive">
              <table class="table table-nowrap mb-0">
                <tbody>
                  <tr>
                    <th scope="row"> Nom et Prenom :</th>
                    <td>{{user?.nom}} {{user?.prenom}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Identifiant :</th>
                    <td>{{user?.identifiantUser}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Mot de passe :</th>
                    <td>{{user?.mdp}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Service :</th>
                    <td>{{user?.chefEquipeService?.nom || 'Aucun service'}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Mobile :</th>
                    <td>{{user?.number}}</td>
                  </tr>
                  <tr>
                    <th scope="row">E-mail :</th>
                    <td>{{user?.email}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Type :</th>
                    <td>{{user?.type}}</td>
                  </tr>
                 
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- end card -->
  
        
        <!-- end card -->


      </div>
  
    </div>
    <!-- end row -->
  
  
  